
$gradientRed: #e91e63;
$gradientBlue: #5d02ff;
$gradientGreen: #89ff00;
$gradientSkyBlue: #00bcd4;

//:root {
//  --mainColor: #929d9e;
//  --accentColor: #3dbf52;
//  --disabledColor: #555;
//  --secondaryColor: #f4bc7f;
//  --primaryColor: #0af;
//  --successColor: #30bf6e;
//  --errorColor: crimson;
//  --warningColor: #ffef00;
//  --overlayColor: rgba(0, 0, 0, .95);
//  --activeColor: #9566f2;
//  --mainBackgroundColor: #413951;
//}
