.Collapse-panel {
  border: 0 solid transparent;
  border-radius: 2px;
  box-shadow: 0 0 2px var(--mainColor);
  color: var(--baseColor);
  overflow: hidden;
  transition: height .5s;

  &--theme {
    &-accent {
      box-shadow: 0 0 2px var(--accentColor);
    }

    &-secondary {
      box-shadow: 0 0 2px var(--secondaryColor);
    }

    &-primary {
      box-shadow: 0 0 2px var(--primaryColor);
    }

    &-success {
      box-shadow: 0 0 2px var(--successColor);
    }

    &-error {
      box-shadow: 0 0 2px var(--errorColor);
    }
  }

  &--variant {
    &-only-text {
      box-shadow: none;
    }
  }

  &--disabled {
    box-shadow: 0 0 2px var(--disabledColor);
  }
}
