@import "../../styles/constants.module";

.Highlighter {
  border-radius: 8px;
  color: var(--baseColor, $baseColor);
  font-size: inherit;

  &--filled {
    margin: 0 4px;
    padding: 0 10px;
  }

  &--color {
    &-accent {
      color: var(--accentColor, $accentColor);

      &-filled {
        background-color: var(--accentColor, $accentColor);
      }
    }

    &-primary {
      color: var(--primaryColor, $primaryColor);

      &-filled {
        background-color: var(--primaryColor, $primaryColor);
      }
    }

    &-secondary {
      color: var(--secondaryColor, $secondaryColor);

      &-filled {
        background-color: var(--secondaryColor, $secondaryColor);
      }
    }

    &-error {
      color: var(--errorColor, $errorColor);

      &-filled {
        background-color: var(--errorColor, $errorColor);
      }
    }
  }
}
