@import "../styles/constants.module";

.Toggle {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  padding-right: 20px;

  &__label {
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    transition: background-color .3s, box-shadow .3s;
    vertical-align: middle;

    &::after {
      content: "N";
      font-weight: 700;
      opacity: 1;
      position: absolute;
      right: -15px;
      top: 0;
      transition: transform .3s, opacity .3s;
    }

    &::before {
      border-radius: 50%;
      content: "";
      left: 2px;
      position: absolute;
      top: 2px;
      transition: transform .3s;
    }

    &:hover {
      opacity: .8;
    }

    &--theme {
      &-base {
        border-color: var(--baseColor, $baseColor);

        &::after {
          color: var(--baseColor, $baseColor);
        }

        &::before {
          background-color: var(--baseColor, $baseColor);
        }

        &--focused {
          box-shadow: 0 0 6px var(--baseColor, $baseColor);
        }
      }

      &-accent {
        border-color: var(--accentColor, $accentColor);

        &::after {
          color: var(--accentColor, $accentColor);
        }

        &::before {
          background-color: var(--accentColor, $accentColor);
        }

        &--focused {
          box-shadow: 0 0 6px var(--accentColor, $accentColor);
        }
      }

      &-primary {
        border-color: var(--primaryColor, $primaryColor);

        &::after {
          color: var(--primaryColor, $primaryColor);
        }

        &::before {
          background-color: var(--primaryColor, $primaryColor);
        }

        &--focused {
          box-shadow: 0 0 6px var(--primaryColor, $primaryColor);
        }
      }

      &-secondary {
        border-color: var(--secondaryColor, $secondaryColor);

        &::after {
          color: var(--secondaryColor, $secondaryColor);
        }

        &::before {
          background-color: var(--secondaryColor, $secondaryColor);
        }

        &--focused {
          box-shadow: 0 0 6px var(--secondaryColor, $secondaryColor);
        }
      }

      &-error {
        border-color: var(--errorColor, $errorColor);

        &::after {
          color: var(--errorColor, $errorColor);
        }

        &::before {
          background-color: var(--errorColor, $errorColor);
        }

        &--focused {
          box-shadow: 0 0 6px var(--errorColor, $errorColor);
        }
      }
    }

    &--size {
      &-big {
        height: 26px;
        width: 40px;

        &::after {
          font-size: 26px;
          line-height: 26px;
          right: -22px;
        }

        &::before {
          height: 22px;
          left: 16px;
          width: 22px;
        }
      }

      &-medium {
        height: 18px;
        width: 32px;

        &::after {
          font-size: 16px;
          line-height: 16px;
        }

        &::before {
          height: 14px;
          left: 16px;
          width: 14px;
        }
      }

      &-small {
        height: 12px;
        width: 26px;

        &::after {
          font-size: 12px;
          line-height: 12px;
          right: -12px;
        }

        &::before {
          height: 10px;
          left: 15px;
          top: 1px;
          width: 10px;
        }
      }
    }

    &--variant {
      &-filled {
        &::after {
          color: var(--baseColor, $baseColor);
        }

        &::before {
          background-color: var(--baseColor, $baseColor);
        }

        &-base {
          background-color: var(--baseColor, $baseColor);

          &::before {
            background-color: var(--mainColor, $mainColor);
          }
        }

        &-accent {
          background-color: var(--accentColor, $accentColor);
        }

        &-primary {
          background-color: var(--primaryColor, $primaryColor);
        }

        &-secondary {
          background-color: var(--secondaryColor, $secondaryColor);
        }

        &-error {
          background-color: var(--errorColor, $errorColor);
        }
      }
    }

    &--checked {
      &::after {
        opacity: 0;
        transform: translateX(15px);
      }

      &::before {
        transform: translateX(-14px);
      }
    }

    &--disabled,
    &:disabled {
      background-color: var(--disabledColor, $disabledColor);
      border-color: var(--disabledColor, $disabledColor);
      cursor: default;

      &::after {
        color: var(--disabledColor, $disabledColor);
      }

      &::before {
        background-color: var(--mainColor, $mainColor);
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &__input {
    border: none;
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 0;
  }
}
