.Dropdown-multi-item {
  align-items: center;
  display: flex;
  font-size: 0;
  justify-content: flex-start;
  line-height: 0;
  padding: 10px 30px;

  &__label {
    align-self: stretch;
    flex-basis: 100%;
  }
}
