@import "../styles/constants.module";

.Clock {
  align-items: center;
  background-image: url("./assets/clock.png");
  background-size: cover;
  border: 4px solid var(--clockBorderColor, $clockBorderColor);
  border-radius: 50%;
  box-shadow: 0 -15px 15px var(--clockShadowWhiteColor, $clockShadowWhiteColor), inset 0 -15px 15px var(--clockShadowWhiteColor, $clockShadowWhiteColor), 0 15px 15px var(--clockShadowBlackColor, $clockShadowBlackColor), inset 0 15px 15px var(--clockShadowBlackColor, $clockShadowBlackColor);
  box-sizing: border-box;
  display: flex;
  height: 350px;
  justify-content: center;
  position: relative;
  width: 350px;

  &::before {
    background-color: var(--mainColor, $mainColor);
    border-radius: 50%;
    content: "";
    position: absolute;
    z-index: 4;
  }

  &--size {
    &-small {
      height: 150px;
      width: 150px;

      &::before {
        height: 5px;
        width: 5px;
      }
    }
    &-medium {
      height: 250px;
      width: 250px;

      &::before {
        height: 10px;
        width: 10px;
      }
    }
    &-large {
      height: 350px;
      width: 350px;

      &::before {
        height: 15px;
        width: 15px;
      }
    }
  }

  &__arrow-wrapper {
    position: absolute;
  }

  &__arrow-alarm,
  &__arrow-hour,
  &__arrow-min,
  &__arrow-sec {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__arrow-alarm::before,
  &__arrow-hour::before,
  &__arrow-min::before,
  &__arrow-sec::before {
    border-radius: 6px 6px 0 0;
    content: "";
    position: absolute;
  }

  &__arrow-alarm {
    &::before {
      background-color: var(--errorColor, $errorColor);
      z-index: 1;
    }

    &--size {
      &-small {
        height: 60px;
        width: 60px;

        &::before {
          height: 40px;
          width: 4px;
        }
      }
      &-medium {
        height: 90px;
        width: 90px;

        &::before {
          height: 55px;
          width: 6px;
        }
      }
      &-large {
        height: 130px;
        width: 130px;

        &::before {
          height: 75px;
          width: 8px;
        }
      }
    }
  }
  &__arrow-hour {
    &::before {
      background-color: var(--secondaryColor, $secondaryColor);
      z-index: 1;
    }

    &--size {
      &-small {
        height: 70px;
        width: 70px;

        &::before {
          height: 35px;
          width: 4px;
        }
      }
      &-medium {
        height: 110px;
        width: 110px;

        &::before {
          height: 55px;
          width: 6px;
        }
      }
      &-large {
        height: 160px;
        width: 160px;

        &::before {
          height: 80px;
          width: 8px;
        }
      }
    }
  }

  &__arrow-min {
    &::before {
      background-color: var(--mainColor, $mainColor);
      z-index: 2;
    }

    &--size {
      &-small {
        height: 90px;
        width: 90px;

        &::before {
          height: 45px;
          width: 2px;
        }
      }
      &-medium {
        height: 140px;
        width: 140px;

        &::before {
          height: 70px;
          width: 4px;
        }
      }
      &-large {
        height: 190px;
        width: 190px;

        &::before {
          height: 95px;
          width: 6px;
        }
      }
    }
  }

  &__arrow-sec {
    &::before {
      background-color: var(--mainColor, $mainColor);
      z-index: 3;
    }

    &--size {
      &-small {
        height: 120px;
        width: 120px;

        &::before {
          height: 85px;
          width: 1px;
        }
      }
      &-medium {
        height: 180px;
        width: 180px;

        &::before {
          height: 120px;
          width: 2px;
        }
      }
      &-large {
        height: 230px;
        width: 230px;

        &::before {
          height: 150px;
          width: 3px;
        }
      }
    }
  }
}
