@import "../styles/constants.module";

.Card {
  height: 400px;
  max-width: 650px;
  min-width: 230px;
  outline: none;
  position: relative;

  &::before {
    bottom: -2px;
    content: "";
    filter: blur(15px);
    left: -2px;
    position: absolute;
    right: -2px;
    top: -2px;
    transform: skew(2deg, 2deg);
    z-index: 0;
  }

  &::after {
    background-color: rgba(255, 255, 255, .05);
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 1;
  }

  &--theme {
    &-base {
      &::before {
        background: linear-gradient(315deg, var(--darkColor, $darkColor), var(--baseColor, $baseColor));
      }
    }

    &-accent {
      &::before {
        background: linear-gradient(315deg, var(--secondaryColor, $secondaryColor), var(--accentColor, $accentColor));
      }
    }

    &-primary {
      &::before {
        background: linear-gradient(315deg, var(--errorColor, $errorColor), var(--primaryColor, $primaryColor));
      }
    }

    &-secondary {
      &::before {
        background: linear-gradient(315deg, var(--activeColor, $activeColor), var(--secondaryColor, $secondaryColor));
      }
    }

    &-error {
      &::before {
        background: linear-gradient(315deg, var(--activeColor, $activeColor), var(--errorColor, $errorColor));
      }
    }
  }

  &__decorator {
    align-items: center;
    background: var(--backgroundColor, $backgroundColor);
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__container {
    color: var(--baseColor, $baseColor);
    padding: 20px;
    position: relative;
    transform: translateY(40px);
    z-index: 1;
  }

  &__index {
    color: var(--baseColor, $baseColor);
    font-size: 160px;
    font-weight: 700;
    margin: 0;
    opacity: .05;
    position: absolute;
    right: 20px;
    top: -30px;
    transition: top .5s;

    &--hover {
      top: -70px;
    }
  }

  &__title {
    margin: 0 0 10px;
  }

  &__content {
    max-height: 115px;
    overflow: hidden;
  }

  &__button {
    margin-top: 20px;
    opacity: 0;
    transform: translateY(-40px);
    transition: transform .5s, opacity .5s;

    &--hover {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
