@import "../styles/constants.module";

.Layout {
  background-color: var(--backgroundColor, $backgroundColor);
  color: var(--baseColor, $baseColor);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &__header {
    text-align: center;
  }

  &__main {
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    overflow-y: scroll;

    &--scroll-disabled {
      overflow: hidden;
    }
  }

  &__aside {

    &--right {
      order: 1;
    }

    &--sticky {
      position: sticky;
      top: 0;
    }
  }

  &__article {
    flex-grow: 1;
  }

  &__footer {
    text-align: left;
  }
}
