@import "../styles/constants.module.scss";

.Anchor {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  padding: 0;
  text-decoration: none;
  transition: color .3s;

  &:hover,
  &:focus {
    color: $secondDarkColor;
  }

  &--active {
    color: $accentDarkColor;

    &:disabled {
      color: $textDisabled;
    }
  }

  &--disabled,
  &:disabled {
    color: $textDisabled;
    cursor: default;

    &:focus,
    &:hover {
      color: $textDisabled;
    }
  }
}
