.Anchor {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 0;
  transition: color .3s;

  &:hover,
  &:focus {
    opacity: .8;
  }

  &--decoration {
    &-none {
      text-decoration: none;
    }

    &-line-through {
      text-decoration: line-through;
    }

    &-overline {
      text-decoration: overline;
    }

    &-underline {
      text-decoration: underline;
    }

    &-inherit {
      text-decoration: inherit;
    }
  }

  &--theme {
    &-base {
      color: var(--baseColor);
    }

    &-accent {
      color: var(--accentColor);
    }

    &-primary {
      color: var(--primaryColor);
    }

    &-secondary {
      color: var(--secondaryColor);
    }

    &-success {
      color: var(--successColor);
    }

    &-error {
      color: var(--errorColor);
    }
  }

  &--active {
    color: var(--activeColor);
    cursor: auto;

    &:hover,
    &:focus {
      color: var(--activeColor);
      opacity: 1;
      text-decoration: none;
    }

    &:disabled {
      color: var(--disabledColor);
    }
  }

  &--disabled,
  &:disabled {
    color: var(--disabledColor);
    cursor: auto;

    &:focus,
    &:hover,
    &:visited {
      color: var(--disabledColor);
      opacity: 1;
      text-decoration: none;
    }
  }
}
