.Anchor {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 0;
  text-decoration: none;
  transition: color .3s;

  &:visited {
    color: var(--secondaryColor);
  }

  &:hover,
  &:focus {
    color: var(--activeColor);
  }

  &--active {
    color: var(--accentColor);
    cursor: default;

    &:visited {
      color: var(--accentColor);
    }

    &:disabled {
      color: var(--disabledColor);
    }
  }

  &--disabled,
  &:disabled {
    color: var(--disabledColor);
    cursor: default;

    &:focus,
    &:hover,
    &:visited {
      color: var(--disabledColor);
    }
  }
}
